<!--<div class="container-flex main-container">-->
<!--    <div class="headline">-->
<!--        <h1>Kontaktiere Uns</h1>-->
<!--    </div>-->
<!--    <div class="col-6 d-flex flex-column">-->
<!--        <form action="/contact" method="POST" class="">-->
<!--            <label for="name">Name:</label>-->
<!--            <input type="text" id="name" name="name" required class="col-6 row">-->

<!--            <label for="email">Email:</label>-->
<!--            <input type="email" id="email" name="email" required class="col-6 row">-->

<!--            <label for="message">Message:</label>-->
<!--            <textarea id="message" name="message" required class="col-6 row"></textarea>-->

<!--            <button type="submit" class="sec-button-own col-6 row">Submit</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg col-12 col-md-8 col-lg-6">
        <div class="card-body">
            <div class="text-center mb-4">
                <h1>Kontaktiere Uns</h1>
            </div>
            <% if (typeof message !=='undefined' && message) { %>
            <div class="container-fluid text-center message <%= messageClass %>">
                <p>
                    <%= message %>
                </p>
            </div>
            <% } %>
            <form action="/contact/create" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" id="name" name="name" required class="form-control">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" id="email" name="email" required class="form-control">
                </div>

                <div class="mb-3">
                    <label for="message" class="form-label">Nachricht:</label>
                    <textarea id="message" name="message" required class="form-control" rows="3"></textarea>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Absenden</button>
                </div>
            </form>
        </div>
    </div>
</div>
