<div class="container-flex main-container">
    <div class="headline">
        <h1>Kontaktiere Uns</h1>
    </div>
    <div class="col-6 d-flex flex-column">
        <form action="/contact" method="POST" class="">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required class="col-6 row">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required class="col-6 row">

            <label for="message">Message:</label>
            <textarea id="message" name="message" required class="col-6 row"></textarea>

            <button type="submit" class="sec-button-own col-6 row">Submit</button>
        </form>
    </div>
</div>
