<div class="container">
    <h1>Modul hinzuf체gen</h1>
    <form action="/module/create" method="POST" id="newModuleForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="beschreibung">Beschreibung</label>
            <input type="text" class="form-control" id="beschreibung" name="beschreibung" required>
        </div>
        <div class="form-group">
            <label for="studiengang" id="label">Studiengang</label>
            <select name="studiengang[]" id="studiengang" class="upload-form" required multiple>
                <option value="" disabled>W채hlen Sie einen oder mehrere Studieng채nge aus</option>
                <% studiengaenge.forEach(function(studiengang) { %>
                    <option value="<%= studiengang.id %>">
                        <%= studiengang.name %> (<%= studiengang.id %>)
                    </option>
                <% }); %>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Modul hinzuf체gen</button>
    </form>
</div>
