<% if (req.me) { %>
    <div class="container-flex main-container">
        <div class="container-fluid headline">
            <h1>
                Ressourcen
            </h1>
        </div>
        <div class="container-flex studiums-auswahl">
            <a href="/studiengang">
                <button class="yellow-button">Studiengang wählen ></button>
            </a>
        </div>
        <div class="container-flex top-10-downloads-headline">
            <h1>Top 10 Downloads</h1>
        </div>
        <div class="container-flex top-10-downloads">
            <ul class="unordered-lists">
                <li class="list-items">
                    <a href="#">Placeholder A</a>
                </li>
                <li class="list-items">
                    <a href="#">Placeholder B</a>
                </li>
                <li class="list-items">
                    <a href="#">Placeholder C</a>
                </li>
                <li class="list-items">
                    <a href="#">Placeholder D</a>
                </li>
                <li class="list-items">
                    <a href="#">Placeholder E</a>
                </li>
            </ul>
        </div>
        <div class="container-flex top-10-downloads-headline">
            <h1>Neueste Ressourcen</h1>
        </div>
        <div class="container-flex top-10-downloads">
            <ul class="unordered-lists">
                <li class="list-items">
                    <a href="#">Placeholder A</a>
                </li>
                <li class="list-items">
                    <a href="#">Placeholder B</a>
                </li>
                <li class="list-items">
                    <a href="#">Placeholder C</a>
                </li>
                <li class="list-items">
                    <a href="#">Placeholder D</a>
                </li>
                <li class="list-items">
                    <a href="#">Placeholder E</a>
                </li>
            </ul>
        </div>
    </div>
    <% } else { %>

        <div class="container-flex main-container">
            <div class="container-fluid headline">
                <h1>
                    Ressourcen
                </h1>
            </div>
            <div class="container-flex textbox" id="call-to-action-2">
                Sie benötigen einen Account um auf “Ressourcen” zuzugreifen
                <div class="container-flex studiums-auswahl">
                    <a href="/signup">
                        <button class="red-button">Jetzt registrieren ></button>
                    </a>
                </div>
            </div>
        </div>

        <% } %>