<style>
 
  .form-control {
    border-radius: 0.25rem;
  }


  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
</style>
<div id="edit-password">
  <div class="container pt-5 pb-5">
    <h1>Passwort ändern</h1>
    <hr />
    <form action="/updatePassword" method="POST">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="password">Neues Passwort</label>
            <input class="form-control" id="password" name="password" type="password" v-model="password"
              placeholder="••••••••" autocomplete="new-password" focus-first>
            <div class="invalid-feedback" v-if="passwordsDontMatch">Bitte geben Sie ein Passwort ein.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="confirm-password">Password bestätigen</label>
            <input class="form-control" :class="{'is-invalid': passwordsDontMatch }" id="confirm-password"
              name="confirm-password" type="password" v-model="confirmPassword" autocomplete="new-password"
              placeholder="••••••••">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="text-warning" v-if="passwordsDontMatch">Passwörter stimmen nicht überein.</div>
          <div class="text-success" v-if="!passwordsDontMatch">Passwörter stimmen überein</div>
        </div>
        <div class="col-sm-6">
          <div class="form-group text-right">
            <a class="btn btn-outline-info mr-1" href="/account">Cancel</a>
            <button type="submit" class="btn btn-primary" style="background-color: #4a47a3; color: #fff;" :disabled="passwordsDontMatch">Save changes</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
  <script>
    const { createApp } = Vue;
    createApp({
      data() {
        return {
          password: '',
          confirmPassword: '',
          passwordsDontMatch: false
        }

      },
      methods: {
        passwordsMatch: function (password, confirmPassword) {
          return password === confirmPassword;
        },

      },
      watch: {
        confirmPassword: function (newConfirmPassword) {
          this.passwordsDontMatch = !this.passwordsMatch(this.password, newConfirmPassword);
        },
        password: function (newPassword) {
          this.passwordsDontMatch = !this.passwordsMatch(newPassword, this.confirmPassword);
        }
      }
    }).mount('#edit-password');
  </script>