<div class="container-fluid login-container">
    <div class="login-form">
        <h1>Anmelden</h1>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="username">Benutzername:</label>
                <input type="text" name="nutzername" id="username" required>
            </div>
            <div class="form-group">
                <label for="password">Passwort:</label>
                <input type="password" name="passwort" id="password" required>
            </div>
            <button class="btn-primary" type="submit">Anmelden</button>
<!--            <div class="btn-primary">-->
<!--                <a href="/benutzer/new">Du hast noch keinen Account, dann registriere dich jetzt</a>-->
<!--            </div>-->
            <a class="btn-register" href="/benutzer/new">
                <button class="btn-primary" type="button">Du hast noch keinen Account, dann registriere dich jetzt</button>
            </a>
        </form>
    </div>
</div>
