<div class="container">
    <div class="card w-100 mt-4">
        <h4 class="card-header">
           Benutzer anzeigen
        </h4>
        <div>
            <div class="row">
                <div class="col-2">
                    Name
                </div> 
                <div class="col-10">
                    <%= benutzer.name %>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Preis
                </div> 
                <div class="col-10">
                    <%= benutzer.price %>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Beschreibung
                </div> 
                <div class="col-10">
                    <%= benutzer.description %>
                </div>
            </div>
            <% if(benutzer.studiengang) { %>
                <div class="row">
                    <div class="col-2">
                        Studiengang
                    </div> 
                    <div class="col-10">
                        <%= benutzer.studiengang.name %>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
</div>