<div class="container-flex main-container">
    <div class="container-fluid headline">
        <h1>
            Studiengang
        </h1>
    </div>
    <div class="container-flex top-10-downloads">
        <ul class="unordered-lists">
            <% studiengaenge.forEach(function(studiengang) { %>
                <li class="list-items">
                    <a href="/<%= studiengang.name.toLowerCase().replace(/ /g, '') %>"><%= studiengang.name %></a>
                </li>
            <% }); %>
        </ul>
        <% if (currentUser.role.name === 'Admin') { %>
            <a href="/studiengang/edit" class="btn btn-sm btn-secondary">Edit</a>
        <% } %>
    </div>
</div>
