<div class="container-flex main-container">
    <div class="container-fluid headline">
        <h1>
            Studiengang
        </h1>
    </div>
    <div class="container-flex top-10-downloads mt-5 mb-2">
        <div class="row">
            <% studiengaenge.forEach(function(studiengang) { %>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title"><%= studiengang.name %></h5>
                            <a href="/studiengang/<%= studiengang.kuerzel %>" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    <% if (req.me.isSuperAdmin) { %>
        <div class="d-flex justify-content-center align-items-start my-4">
            <a href="/admin" class="btn btn-sm btn-secondary" id="studiengang-element">Edit</a>
        </div>
    <% } %>
</div>
