<div class="container">
    <div class="card w-100 mt-4">
        <h4 class="card-header">
            Studiengang anzeigen
        </h4>
        <div>
            <div class="row">
                <div class="col-2">
                    Name
                </div>
                <div class="col-10">
                    <%= studiengang.name %>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    kürzel
                </div>
                <div class="col-10">
                    <%= studiengang.kürzel %>
                </div>
            </div>

        </div>
    </div>
</div>