* {
  font-family: 'Crete Round', serif;
  font-variant-ligatures: no-common-ligatures;
  font-weight: 300;
  margin: 0px;
  cursor: default;
}



.slogan {
  color: var(--primary);
}

@font-face {
  font-family: 'Crete Round';
  src: url('/assets/fonts/CreteRound-Regular.ttf') format('truetype');
}

body {
  font-size: 13px;
}

header {
  background-color: #F2DCC2;
}


h1 {
  font-family: 'Azerte mono', monospace;
  padding: 10px;
  color: #000000;
  font-size: 16px;
}

h2, h3, h4 {
  font-family: 'Crete Round', serif;
}

.yellow-button {
  background-color: black;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  padding: 12px 24px;
  font-size: 12px;
  cursor: pointer;
  text-shadow: 1px 1px 0 #FFD600;
  text-decoration: none;
}

.red-button {
  background-color: #ffffff;
  color: #000000;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  border-radius: 20px;
  padding: 12px 24px;
  font-size: 12px;
  cursor: pointer;
  text-shadow: 1px 1px 0 #C40000;
  text-decoration: none;
}

.sec-button-own {
  background-color: #CDAD00;
  color: #000000;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 20px;
  padding: 12px 24px;
  font-size: 12px;
  cursor: pointer;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  background-image: linear-gradient(135deg, #5A9, #CDAD00);
}




a {
  font-size: 12px;
  font-family: "DejaVu Sans Mono";
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
}

.navbar {
  background-color: lightgray;
  color: black;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;

}

.logo {
  text-align: left;
  padding-left: 5px;
}

.textbox {
  padding: 10px;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--secondary);
  margin-top: 20px;
  margin-left: auto;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}

@keyframes move-left-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.slogan-animation-1 {
  animation: move-left-right 3s infinite;
}

.slogan-animation-2 {
  animation: move-left-right 4s infinite;
}

.slogan-animation-3 {
  animation: move-left-right 5s infinite;
}




.row {
  margin-bottom: 20px;
}


.marktplacePicutre-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  border-width: 0px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;

}

.marktplacePicutre-container img {
  max-width: 100%;
  height: auto;
  border-width: 0px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

.people-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  border-width: 0px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;


}

.people-container img {
  max-width: 100%;
  height: auto;
  border-width: 0px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;

}


.KID {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: lightblue;
  margin-top: 20px;
  background-color: var(--secondary);
  color: black;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #5A9, var(--secondary));
}
.social-icons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-icons a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

.social-icons a:hover {
  color: #5A9;
}
#logo-nav {
  height: 50px;
  width: 80px;


}

.navbar-toggle {
  color: red;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: lightblue;
}


.statusbar {
  background-color: var(--secondary);
  color: black;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #5A9, var(--secondary));
  padding: 10px;
}



.main-container {
  padding-top: 80px;
  padding-bottom: 10px;
}


.libraryPicture-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 0px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

.peoplePicture-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  border-width: 0px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

.libraryPicture-container,
.peoplePicture-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {

  .main-container {
    padding-top: 80px;
    padding-bottom: 20px;

  }
  .slogan {
    font-size: 22px;
  }

  .sec-button-own {
    font-size: 17.5px;
  }
}

@media screen and (min-width: 992px) {

  .statusbar {
    margin-top: 15px
  }

  .col-lg-3 .row {
    height: 50%;
  }

  .col-lg-3 .img-fluid {

    height: 100%;
    width: 100%;
  }

  .content {
    margin-left: auto;
  }

  .libraryPicture-container,
  .peoplePicture-container {
    margin-bottom: 0;
  }


  .main-container {
    padding-top: 140px;
    padding-bottom: 20px;
  }

  #logo-nav {
    height: 70px;
    width: 130px;

  }

  * {
    font-family: 'Crete Round', serif;
    font-variant-ligatures: no-common-ligatures;
    font-weight: 300;
    margin: 0px;
    cursor: default;

    font-size: 15px;
  }

  @font-face {
    font-family: 'Crete Round';
    src: url('/assets/fonts/CreteRound-Regular.ttf') format('truetype');
  }

  .handshake-container {
    width: 100%;
    text-align: center;
    margin-top: 70px;

  }

  .handshake-container img {
    max-width: 80%;
    height: auto;
    font-size: 20px;
  }

  h6 {
    font-size: 25px;

  }
  h1 {
    font-size: 36px;
  }

}


.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-nav li a:hover {
  background-color: rgba(0, 0, 0, 50%);
  border-radius: 10px;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: lightblue;
}

form.nosubmit {
  display: flex;
  align-content: center;
  border: none;
  padding: 0;
}

input.nosubmit {
  border: 1px solid #555;
  border-radius: 5px;
  width: 100%;
  padding: 9px 4px 9px 40px;
  margin-top: 20px;
  background: transparent url("/images/search.png") no-repeat 13px center;
}

.logo-image {
  width: 45px;
}

.user-profile-img {
  width: 45px !important;
  float: right;
  padding-right: 20px;
  margin: auto 10px;
  justify-content: flex-end;
}

.test-h1 {
  padding-top: 60px;
  padding-left: 10px;
}

.lefty{
  position: relative;
  float: right;
}

.headline{
  text-align: center;
  background-image: linear-gradient(to right, #56aa97, #cdad00);
  border-width: 1px;
  border-style: solid;
  border-color: lightblue;
  border-radius: 10px;
}

.studiums-auswahl{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.top-10-downloads-headline{
  text-align: center;
  padding-top: 30px;
}

.top-10-downloads{
  display: flex;
  justify-content: center;
}

#call-to-action-2{
  text-align: center;
}
 .unordered-lists{
   list-style-type: none;
   margin-right: 30px;
 }

.list-items{
  background-image: linear-gradient(to right, #cdad00, #56aa97);
  border: 0px;
  border-radius: 15px;
  padding: 5px;
  margin-top: 15px;
  text-align: center;
}

.upload {
  background-image: linear-gradient(to right, #cdad00, #56aa97);
  border: 0px;
  border-radius: 15px;
}

.wrapper-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;
  margin-top: 20px;
}

.wrapper{
  justify-content: center;
  grid-column: 2 / 3;
  padding-left: 20px;
}

.nested {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
}
