* {
  font-family: 'Crete Round', serif;
  font-variant-ligatures: no-common-ligatures;
  font-weight: 300;
  margin: 0px;
  cursor: default;
}

/*.content {*/
/*  */
/*}*/

@font-face {
  font-family: 'Crete Round';
  src: url('/assets/fonts/CreteRound-Regular.ttf') format('truetype');
}

body {
  font-size: 13px;
}

header {
  background-color: #F2DCC2;
}


h1 {
  font-family: 'Azerte mono', monospace;
  padding: 10px;
  color: #000000;
  font-size: 16px;
}

h2, h3, h4 {
  font-family: 'Crete Round', serif;
}

.yellow-button {
  background-color: black;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  padding: 12px 24px;
  font-size: 12px;
  cursor: pointer;
  text-shadow: 1px 1px 0 #FFD600;
  text-decoration: none;
}

.red-button {
  background-color: #ffffff;
  color: #000000;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 20px;
  padding: 12px 24px;
  font-size: 12px;
  cursor: pointer;
  text-shadow: 1px 1px 0 #C40000;
  text-decoration: none;

}

a {
  font-size: 12px;
  font-family: "DejaVu Sans Mono";
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
}

.navbar {
  background-color: lightgray;
  color: black;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;

}

.logo {
  text-align: left;
  padding-left: 5px;
}

#navbar-title {
  color: black;
  text-decoration: underline;
}

.navbar-collapser {
  -ms-flex-align: center;
}

.textbox {
  background-color: lightblue;
  padding: 10px;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: lightblue;
  margin-top: 20px;

}

.row {
  margin-bottom: 20px;
}

.handshake-container {
  width: 100%;
  text-align: center;
  margin-top: 70px;
  padding: 0px;

}

.handshake-container img {
  max-width: 100%;
  height: auto;
}

.marktplacePicutre-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  border-width: 0px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;

}

.marktplacePicutre-container img {
  max-width: 100%;
  height: auto;
  border-width: 0px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

.people-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  border-width: 0px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;


}

.people-container img {
  max-width: 100%;
  height: auto;
  border-width: 0px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;

}

.KID {
  background-color: lightblue;
  padding: 10px;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: lightblue;
  margin-top: 20px;

}

#logo-nav {
  height: 50px;
  width: 80px;


}

.navbar-toggle {
  color: red;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: lightblue;
}

.handshake-image img,
.textbox img {
  max-width: 100%;
  height: auto;

}

@media screen and (min-width: 992px) {

  * {
    font-family: 'Crete Round', serif;
    font-variant-ligatures: no-common-ligatures;
    font-weight: 300;
    margin: 0px;
    cursor: default;
    font-size: 15px;
  }

  @font-face {
    font-family: 'Crete Round';
    src: url('/assets/fonts/CreteRound-Regular.ttf') format('truetype');
  }

  .handshake-container {
    width: 100%;
    text-align: center;
    margin-top: 70px;

  }

  .handshake-container img {
    max-width: 80%;
    height: auto;
  }

}


.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-nav li a:hover {
  background-color: rgba(0, 0, 0, 50%);
  border-radius: 10px;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: lightblue;
}

form.nosubmit {
  display: flex;
  align-content: center;
  border: none;
  padding: 0;
}

input.nosubmit {
  border: 1px solid #555;
  border-radius: 5px;
  width: 100%;
  padding: 9px 4px 9px 40px;
  margin-top: 20px;
  background: transparent url("/images/search.png") no-repeat 13px center;
}

.logo-image {
  width: 45px;
}

.user-profile-img {
  width: 45px !important;
  float: right;
  padding-right: 20px;
  margin: auto 10px;
  justify-content: flex-end;
}

.test-h1 {
  padding-top: 60px;
  padding-left: 10px;
}

.lefty{
  position: relative;
  float: right;
}



