<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beispiel-Startup</title>
    <link href="custom.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-12 col-md-8 content">

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="box">Box 1</div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="box">Box 2</div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="box">Box 3</div>
                </div>
            </div>

        </div>
        <div class="col-md-4 d-none d-md-block statusbar">
            Seitenstatusleiste
        </div>
    </div>
</div>

</body>
</html>
