<div class="text-center mb-4 container-fluid headline">
    <h1>Learn more about our concept</h1>
</div>
<div class="container d-flex justify-content-center align-items-center">
<!--    <div class="card shadow-lg col-12 col-md-8 col-lg-12">-->
    <div class="shadow-lg col-12 col-md-8 col-lg-12 text-border">
        <div class="card-body">
            <div class="text-justify">
                <p>Als Student kennst du sicherlich das Gefühl, mit einem begrenzten Budget auszukommen und trotzdem das Beste aus deinem Studium machen zu wollen.</p>
                <p>Es kann frustrierend sein, wenn du dir teure studienrelevante Lehrmaterialien nicht leisten kannst, aber du weißt auch, dass sie unverzichtbar sind, um gute Noten zu erzielen.</p>
                <p>Aber keine Sorge, auf StudieConnect findest du Skripte, Anleitungen und Karteikarten von anderen Studenten zu einem günstigen Preis: <strong>UMSONST!<strong></p>
                <p>Wenn du Schwierigkeiten hast, studienrelevante Software einzurichten, kann das sehr zeitaufwendig und stressig sein. Auf StudieConnect findest du jedoch Anleitungen und Tutorials, die dir Schritt für Schritt zeigen, wie du die Software einrichtest und benutzt. So sparst du Zeit und Nerven und kannst dich auf das Wesentliche konzentrieren - dein Studium.</p>
                <p>Vielleicht findest du auch anhand der Autoren,  Lernpartner oder eine Lerngruppe, um gemeinsam zu studieren und sich gegenseitig zu motivieren.</p>
                <p>StudieConnect wurde <strong>von Studenten für Studenten </strong> entwickelt, weil wir wissen, wie herausfordernd das Studium sein kann. Wir haben uns zum Ziel gesetzt, das Studienerlebnis für alle zu verbessern und dir das Leben als Student einfacher und angenehmer zu gestalten.</p>
                <p>Wir glauben daran, dass jeder Student das Recht hat, erfolgreich zu sein, unabhängig von seinem Budget oder seiner Herkunft.</p>
                <p>Also, worauf wartest du noch? Registriere dich jetzt auf StudieConnect und entdecke eine Welt voller Möglichkeiten, um dein Studium zu verbessern und erfolgreich zu sein.</p>
                <p>Wir freuen uns darauf, dich auf deiner Reise zu begleiten!</p>
            </div>
        </div>
    </div>
</div>
