<div class="container-fluid headline">
    <h1>Datenschutz</h1>
</div>
<div class="container d-flex justify-content-center align-items-center">
    <!--    <div class="card shadow-lg col-12 col-md-8 col-lg-12">-->
    <div class="shadow-lg col-12 col-md-8 col-lg-12 text-border">
        <div class="card-body">
            <div class="text-justify concept">
         
                <p>
                <h5>Datenerhebung und -verwendung:</h5>
                Die Nutzung unserer Website ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
                </p>
                <br>
                <p>
                <h5>Datenübertragung über das Internet:</h5>
                Die Übertragung von Daten über das Internet kann Sicherheitslücken aufweisen. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
                </p>
                <br>
                <p>
                <h5>Cookies:</h5>
                Unsere Website verwendet Cookies. Bei Cookies handelt es sich um kleine Textdateien, die auf Ihrem Endgerät gespeichert werden. Die meisten der von uns verwendeten Cookies sind so genannte "Session-Cookies". Sie werden nach Ende Ihres Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.
                </p>
                <br>
                <p>
                <h5>Rechte der betroffenen Personen:</h5>
                Sie haben das Recht, Auskunft über die zu Ihrer Person gespeicherten Daten zu erhalten. Darüber hinaus haben Sie das Recht auf Berichtigung, Löschung oder Einschränkung der Verarbeitung Ihrer Daten. Bitte kontaktieren Sie uns dazu über die oben angegebenen Kontaktdaten.
                </p>
                <br>
                <p>
                <h5>Änderungen dieser Datenschutzerklärung:</h5>
                Wir behalten uns das Recht vor, diese Datenschutzerklärung jederzeit anzupassen. Die aktuelle Version ist stets auf unserer Website verfügbar.
                </p>
            </div>
        </div>
    </div>
</div>
