<div class="container-fluid main-container">

    <div class="row">
        <div class="col-12 col-lg-3 d-none d-lg-block statusbar">
            <div class="row">
                <div class="col-12 libraryPicture-container">
                    <a href="/">
                        <img src="/images/welcome.jpg" alt="welcome" class="img-fluid d-lg-none">
                        <img src="/images/welcome-desktop.jpg" alt="welcome-desktop" class="img-fluid d-none d-lg-block">
                    </a>
                </div>
            </div>
            <ul class="statusbar-text">
                <li id="statusbar-head">StudieConnect</li>
                <li class="statusbar-body">
                    <ul>
                        <li><a href="/dozenten">Dozenten</a></li>
                        <li><a href="/ressourcen/show">Ressourcen</a></li>
                        <li><a href="#">Neuerungen</a></li>
                    </ul>
            </ul>
        </div>

    <div class="col-12 col-lg-6 content">
        <div class="row">
            <div class="col-12 handshake-image">
                <img src="/images/handshake.png" alt="handshake" class="img-fluid">
            </div>
            <div class="col-12 col-md-12 col-lg-12 textbox">
                <div class="row">
                    <div class="col-4 offset-1 slogan slogan-animation-1">
                        Du bist Student oder Dozent?
                    </div>
                    <div class="col-7 slogan slogan-animation-2">
                        Du hast wenig Geld, willst aber trotzdem Zugang zu den besten Lehrmaterialien?
                    </div>
                    <div class="col-4 col-md-6 slogan slogan-animation-3"> Du willst anderen helfen?
                    </div>
                </div>
                <div class="row">
                    <% if (req.me) { %>
                        <div class="sign-up-button text-center">
                            <div class="button"><a class="sec-button-own" href="/ressources/upload"> Zum Upload
                                    ></a></div>
                        </div>
                        <% } else { %>
                            <div class="sign-up-button text-center">
                                <div class="button"><a class="sec-button-own" href="/signup">Kostenlos
                                        Account
                                        erstellen
                                        ></a></div>

                            </div>
                            <% } %>
                </div>
            </div>

        </div>
    </div>
    <div class="col-12 col-lg-3 d-flex flex-column">
        <div class="row">
            <div class="col-12 libraryPicture-container">
                <a href="/">
                    <img src="/images/library.jpg" alt="library" class="img-fluid d-lg-none"><!-- Mobile-->
                    <img src="/images/library-desktop.jpg" alt="test-desktop" class="img-fluid d-none d-lg-block">
                    <!-- Desktop -->
                </a>
            </div>
        </div>
            <div class="row">
                <div class="col-12 peoplePicture-container">
                    <a href="/concept">
                        <img src="/images/peoples.jpg" alt="people" class="img-fluid d-lg-none"> <!-- Mobile-->
                        <img src="/images/peoples-desktop.jpg" alt="people-desktop" class="img-fluid d-none d-lg-block">
                        <!-- Desktop -->
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
