<div class="container-flex main-container">
    <div class="container-fluid headline">
        <h1>
            Ressourcen
        </h1>
    </div>
    <div class="container-flex textbox" id="call-to-action-2">
        Sie benötigen einen Account um auf “Ressourcen” zuzugreifen
        <div class="container-flex studiums-auswahl">
            <a href="/benutzer/new">
                <button class="red-button">Jetzt registrieren ></button>
            </a>
        </div>
    </div>
</div>
