<div class="main-container container-flex">
    <div class="headline">
        <h1>Login</h1>
    </div>
    <form>
        <input type="email" name="e-mail" placeholder="e-mail" title="e-mail" required><p></p>
        <input type="password" name="password" placeholder="password" title="password" required><p></p>
        <input type="submit">
        <!--button type="submit" class="signupbtn">Sign Up</button-->
    </form>
</div>
