<div class="container-flex main-container">
    <div class="container-fluid headline">
        <h1>
            Studiengang
        </h1>
    </div>
    <div class="container-flex top-10-downloads">
        <ul class="unordered-lists">
            <li class="list-items">
                <a href="/wirtschaftsinformatik">Wirtschaftsinformatik</a>
            </li>
            <li class="list-items">
                <a href="#">Placeholder B</a>
            </li>
            <li class="list-items">
                <a href="#">Placeholder C</a>
            </li>
            <li class="list-items">
                <a href="#">Placeholder D</a>
            </li>
            <li class="list-items">
                <a href="#">Placeholder E</a>
            </li>
        </ul>
    </div>
</div>
