<div class="container-flex main-container">
    <div class="container-fluid headline">
        <h1>
            Upload
        </h1>
    </div>
    <div class="wrapper-grid">
        <form class="wrapper upload">
            <div class="nested">
                <label for="Dateiname-input">Name:</label>
                <input id="Dateiname-input" type="text" placeholder="Dateiname" name="Dateiname">
            </div>
            <div class="nested">
                <label for="Kategorie-selector">Kategorie:</label>
                <select id="Kategorie-selector" name="Kategorie" class="nested">
                    <option value="Bitte auswählen">Bitte auswählen</option>
                    <option value="Skript">Skript</option>
                    <option value="Anleitung">Anleitung</option>
                </select>
            </div>
            <div class="nested">
                <label for="Studiengang-selector">Studiengang:</label>
                <select id="Studiengang-selector" name="Studiengang">
                    <option value="Bitte auswählen">Bitte auswählen</option>
                    <option value="Win">Wirtschaftsinformatik</option>
                    <option value="PLH">Placeholder A</option>
                    <option value="PLH">Placeholder B</option>
                    <option value="PLH">Placeholder C</option>
                    <option value="PLH">Placeholder D</option>
                </select>
            </div>
            <div class="nested">
                <label for="Modul-selector">Modul:</label>
                <select id="Modul-selector" name="Modul">
                    <option value="Bitte auswählen">Bitte auswählen</option>
                    <option value="WETE">Webtechnologie</option>
                    <option value="PLH">Placeholder A</option>
                    <option value="PLH">Placeholder B</option>
                    <option value="PLH">Placeholder C</option>
                    <option value="PLH">Placeholder D</option>
                </select>
            </div>
            <div class="nested">
                <label for="Beschreibung-input">Beschreibung:</label>
                <input id="Beschreibung-input" type="text" placeholder="Beschreibung des Inhalts" name="Beschreibung">
            </div>
            <div class="nested">
                <label for="Author-input">Author:</label>
                <input id="Author-input" type="text" placeholder="Dein Name (optional)" name="Author">
            </div>
            <div class="nested">
                <label for="Dokument-selection">Dokument:</label>
                <input id="Dokument-selection" type="file" placeholder="Datei auswählen" name="Datei">
            </div>
            <div class="nested">
                <label for="upload-button">Jetzt hochladen</label>
                <button class="red-button" id="upload-button">Upload</button>
            </div>
        </form>
    </div>
</div>
