<div class="container-flex main-container">
    <div class="container-fluid headline">
        <h1>
            Wirtschaftsinformatik
        </h1>
    </div>
    <div class="container-flex textbox" id="call-to-action-2">
        Du hast eigene Ressourcen und denkst andere Studenten könnten davon profitieren?<br>
        Worauf wartest du dann noch?<br> Lade sie jetzt hoch und helfe anderen Studenten bei ihrem Studium.
        <div class="container-flex studiums-auswahl">
            <a href="#">
                <button class="yellow-button">Weiter zum Upload ></button>
            </a>
        </div>
    </div>
    <div class="container-flex top-10-downloads-headline">
        <h1>Skripte</h1>
    </div>
    <div class="container-flex top-10-downloads">
        <ul class="unordered-lists">
            <li class="list-items">
                <a href="#">Placeholder A</a>
            </li>
            <li class="list-items">
                <a href="#">Placeholder B</a>
            </li>
            <li class="list-items">
                <a href="#">Placeholder C</a>
            </li>
            <li class="list-items">
                <a href="#">Placeholder D</a>
            </li>
            <li class="list-items">
                <a href="#">Placeholder E</a>
            </li>
        </ul>
    </div>
    <div class="container-flex top-10-downloads-headline">
        <h1>Anleitungen</h1>
    </div>
    <div class="container-flex top-10-downloads">
        <ul class="unordered-lists">
            <li class="list-items">
                <a href="#">Placeholder A</a>
            </li>
            <li class="list-items">
                <a href="#">Placeholder B</a>
            </li>
            <li class="list-items">
                <a href="#">Placeholder C</a>
            </li>
            <li class="list-items">
                <a href="#">Placeholder D</a>
            </li>
            <li class="list-items">
                <a href="#">Placeholder E</a>
            </li>
        </ul>
    </div>
</div>
